/*************  ✨ Codeium Command ⭐  *************/
__pycache__/
*.egg-info/
*.spec
*.log
*.db
*.sqlite
*.pypackage
*.egg
*.mo
*.pot
local_settings.py
instance
.mypy_cache
.tox
.nox
.coverage
.cache
nosetests.xml
coverage.xml
*.cache
*.pyc
*.pyo
.DS_Store
.env
.envrc
.venv
venv
.eggs
*.egg
parts/
sdist/
develop-eggs/
.installed.cfg
*.rar
*.zip
*.7z
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
/******  a413d671-a2c1-4066-87bd-e46c68ce58bc  *******/